<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head.ejs') %>
<body>
  <header>
    <h1>Find a Book!</h1>
  </header>

  <form method="post" action="/searches">
    
    <input type="text" name="search" placeholder="search" /><br/>
    <div class="radio">
      <input type="radio" name="title" value="title" />
      <label for="title">Title</label><br/>
    </div>
    <div class="radio">
      <input type="radio" name="author" value="author" />
      <label for="author">Author</label><br/>
    </div>
    <button>Go!</button>
  </form>

  <button><a href="/">Back to Home</a></button>
</body>
</html>