h1 {
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
  padding-top: 20px;
}

/* FORM */
input {
  margin: 5px;
  padding: 5px;
  height: 10px;
  width: 200px;
  text-align: left;
}

input:hover {
  background-color: rgb(211, 211, 211);
}

input:focus {
  border: 3px solid #CBF3D2;
}

button {
  padding: 10px 15px;
  margin: 20px;
}

button:hover {
  background-color: dimgrey;
  color: white;
}

button:focus {
  background-color: dimgrey;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}