h1 {
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
  padding-top: 20px;
}

h2 {
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
  padding: 10px;
  margin: 10px auto 20px auto;
  background-color: #CBF3D2;
  border: solid black 2px;
  width: 25%;
}

ul {
  background-color: #CBF3D2;
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
  outline: medium solid black;
}

li {
  margin: auto;
  width: 75%;
  padding-top: 5px;
  padding-bottom: 5px;
}

img {
  margin-top: 10px;
}

#title {
  font-size: 17px;
  font-weight: bold;
}

#author {
  font-style: italic;
}

/* FORM */
input {
  margin: 5px;
  padding: 5px;
  height: 15px;
  width: 20%;
  text-align: left;
  border: solid black 2px;
}

input:hover {
  background-color: rgb(211, 211, 211);
}

input:focus {
  border: 3px solid #CBF3D2;
}

.radio {
  display: flex;
  background-color: #CBF3D2;
  width: 20%;
  margin: 5px auto;
  border: solid black 2px;
  padding: 3px;
}

input[type=radio] {
  width: 10%;
}

label {
  height: 100%;
  text-align: center;
  padding-top: 3px;
}

button {
  padding: 10px 15px;
  margin: 20px;
}

button:hover {
  background-color: dimgrey;
  color: white;
}

button:focus {
  background-color: dimgrey;
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

.invisible {
  display: none;
}